body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container h1 {
    margin-right: 10px;
}

.input-container, .action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    margin-bottom: 20px;
}

.input-container > *, .input-container > button {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-container > *:last-child {
    margin-right: 0;
}

button, #scheduleTable button {
    padding: 10px 15px;
    cursor: pointer;
}

.select-container {
    position: relative;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    margin-right: 10px; /* Add right margin to create space between select and button */
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 1.5;
    border: 1px solid #ccc; /* Match border with other inputs */
    background: white;
    margin: 0; /* Remove margin */
}

.checkmark-icon {
    font-size: 20px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-container > button {
    flex: 0; /* Button does not grow */
    padding: 6px 10px; /* Match padding with other inputs */
    margin-left: 0; /* Remove left margin if needed */
    width: auto; /* Adjust width to match other fields */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container > button:hover {
    background-color: #00b300; /* Green color for hover effect */
}

.select-container::after {
    content: '▼';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center; /* Alignment for table cells */
    border: 1px solid #ccc;
}

thead {
    background-color: #ddd;
}

.action-button {
    background-color: #b6b6b6;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.save-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.action-button:hover {
    background-color: #0056b3;
}

.input-container, .action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: center;
}

#table-container {
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
}

#scheduleTable button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

#scheduleTable button:hover {
    background-color: #0056b3;
}

.editable {
    font-weight: bold;
    background-color: rgba(100, 149, 237, 0.1); /* Light blue background with low opacity */
    border: 2px dashed #1E90FF; /* Dashed border */
    cursor: pointer; /* Changes the cursor to a hand to indicate clickability */
}

.table-input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: inherit;
    color: inherit;
}

.table-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #007BFF;
    transition: color 0.3s;
}

.edit-button:hover {
    color: #0056b3;
}

.delete-button {
    color: #e44;
}

.delete-button:hover {
    color: #a33;
}

.hide-actions .table-button {
    display: none;
}

@media only screen and (max-width: 768px) {
    .input-container {
        flex-wrap: wrap; /* Allow the flex items to wrap */
    }

    .input-container > * {
        flex: 0 0 100%; /* Each flex item takes 100% of the container's width */
        margin-right: 0;
        margin-bottom: 10px; /* Space between stacked elements */
    }

    .input-container > button {
        flex: 0 0 100%; /* Button takes 100% of the container's width */
        margin-bottom: 0; /* No margin for the last button */
        padding: 10px; /* Match padding with other inputs */
    }

    button, select, input {
        font-size: 14px; /* Smaller font size */
    }

    .table-button {
        font-size: 16px;
    }

    .checkmark-icon {
        font-size: 18px; /* Adjust size as needed */
    }
}

/* Responsive Design for Small Screens (Phones) */
@media only screen and (max-width: 480px) {
    body {
        padding: 10px; /* Reduce overall padding */
    }

    .container {
        max-width: 100%; /* Allow the container to take full width */
    }

    #table-container {
        overflow-x: auto; /* Allow horizontal scrolling for the table */
    }

    h1 {
        font-size: 20px; /* Reduce title font size */
    }
}